<pre>
FIRST: Click "fork" above to make a copy of this project, then do all your work in your own copy.

Technology note: We use Angular 2 as our frontend so this task is set up in Angular 2. Hopefully it is straight-forward enough that you can do it in Angular 2, but if you prefer another framework (e.g. React), feel free to create your own project in that framework and complete the task there.

Styling / frameworks: Feel free to keep it simple, or to pull in your CSS framework of choice (e.g. bootstap).

Design: if you have design skills feel free to display them, but we prefer a functionally complete version rather than spending much time on CSS. The code is more important than the design.

API / backend: usually we would have a backend to make queries for filtering, searching, paging, deleting, etc. For this exercise, do it all on the frontend. Thus a page refresh will effectively reset the data to it's original state.

==================
==================

TASK: Build a list view and a detail view for a set of students.

Time limit: 2 hours. There is a lot of functionality that could be done but you are not expected to complete it all within the time limit.

Background: Therapists need to see a list of students and add them to their caseload to provide therapy to those students. Each student needs one or more type of therpay (speech, occupational, behavioral) and each provider is licensed to provider one or more of these types.

Data: see the students-data.service.ts file.

1. List view - display the students. Cards? Table? Carousel? Other?
1a. Paging / scrolling.
1b. Filters - search by student name or by one or more therapy types.
1c. Sorting - sort by student name or by therapy type.

2. Details view & CRUD - a single student.
2a. How? New page & destroy list? Hide list? Show both? Think about performance and user experience.
2b. Edit student (update name and / or therapies).
2c. Delete student.
2d. Add a new student - same page / structure as view and edit, or new page?

3. What's left to do / what did you not get to? What else would you add and how would you prioritize it? Feel free to leave comments / placeholders in the code.
3a. Testing?
3b. Performance?
3c. Code quality?
</pre>

<students></students>